.js-form,
.js-greetings{
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50%;

}

.showing{
    display: inline-block;
    text-align: center;
    word-wrap: break-word; 
    color: white;
    font-size: 150%;
    font-weight: 700;
}

.js-welcome__input{
    /* padding: 10px 10px;  */
    /* width: 200px; */
    border: none;
    background-color: Transparent;
    border-bottom: 2px solid white;
    font-size: 100%;
    font-weight: 700;
    color: white;
}


