@import "reset.css";
@import "statusbar.css";
@import "greetings.css";
@import "todos.css";
@import "bottombar.css";
@import "bg.css";



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}